{% extends "base.html" %}

{% block content %}

<h2>{{lote.nome}}</h2>

<p>Leilão disponível de {{leilao.inicioLeilao}} até {{leilao.finalLeilao}}</p>

<h4>Informações</h4>
<ul>
    <li>Descrição: {{lote.descricao}}</li>
    <li>Estado: {{lote.estado}}</li>
    <li>Vendedor: {{lote.vendedor}}</li>
    <li>Valor de reserva: {{lote.valorReserva}}</li>
    <li>Valor minimo de lance: {{lote.valorMinimoLance}}</li>
</ul>
<p>Maior Lance:</p>
{% if leilao.maiorLance %}
<span>{{leilao.maiorLance}}</span>
{% else %}
<span>Ainda não há lances para este leilão</span>
{% endif %}

<div class="text-center"><button class="btn btn-outline-dark mt-auto" {% if not leilao.liberado %}disabled{% endif %}><a style="text-decoration: none; color: black;" href="{% url 'lote:create_lance' leilao.id %}" >Novo Lance</a></button></div>
{% endblock %}