{% extends "base.html" %}

{% block content %}

<h2>Informações do lote</h2>

<ul>
    <li>Nome: {{object.nome}}</li>
    <li>Descrição: {{object.descricao}}</li>
    <li>Estado: {{object.estado}}</li>
    <li>Valor de reserva: {{object.valorReserva}}</li>
    {% if object.valorMinimoLance %}
        <li>Valor mínimo: {{object.valorMinimo}}</li>
        <li>Valor Mínimo por Lance: {{object.valorMinimo}}</li>
        <li>Início do Leilão: {{object.inicioLeilao}}</li>
        <li>Fim do leilao: {{object.finalLeilao}}</li>
    {% else %}
        <li>Valor mínimo: ainda não definido</li>
        <li>Valor Mínimo por Lance: ainda não definido</li>
        <li>Início do Leilão: ainda não definido</li>
        <li>Fim do leilao: ainda não definido</li>
    {% endif %}
</ul>

{% endblock %}